<div class="result-text__wrapper "><p class="result-text ">Закупку производить у <span class="result-supplier ">
    {{result.bestSupplier}}</span> </p>
    <p class="result-text result-text__amount">Сумма закупки составляет <span class="result-amount ">
        {{result.purchaseAmount}} {{result.currency}}</span>  без учета НДС (<button class="result-tax ">учесть</button>)
    </p>
    <p class="result-text savings-text"> Условная экономия составляет <span class="result-savings ">{{result.savings}} BYN</span> или
        <span class="result-savings ">{{result.savingsPersant}} %</span>
    </p>
</div>